:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 393px;
  height: 820px;
  margin: 0 auto;
  background: #b8d6a6;
  overflow: hidden;
  margin: 310px auto 0 auto; /* top: 60px, horizontal centered */
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.img {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 4px 0 0 329px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/profile-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 22;
  overflow: hidden;
}
.box {
  position: relative;
  width: 371px;
  height: 59px;
  margin: 6px 0 0 13px;
  background: #ffffff;
}
.img-2 {
  position: absolute;
  width: 52px;
  height: 49px;
  top: 5px;
  left: 294px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/navigation-right-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 23;
  overflow: hidden;
}
.img-3 {
  position: absolute;
  width: 52px;
  height: 49px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/navigation-left-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 24;
  overflow: hidden;
}
.text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 28px;
  top: 12px;
  left: 20px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.img-4 {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 170px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/search-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
}
.box-2 {
  position: relative;
  width: 354px;
  height: 181px;
  margin: 32px 0 0 23px;
  z-index: 5;
}
.box-3 {
  position: absolute;
  width: 160px;
  height: 172px;
  top: 0;
  left: 194px;
  background: rgba(207, 236, 186, 0);
  z-index: 5;
}
.text-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 130px;
  height: 144px;
  top: 12px;
  left: 15px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  z-index: 6;
}
.pic {
  position: absolute;
  width: 177px;
  height: 177px;
  top: 4px;
  left: 0;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/product-image.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.text-3 {
  display: block;
  position: relative;
  height: 28.201px;
  margin: 21px 0 0 6px;
  color: #000000;
  font-family: Roboto, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 23.438px;
  text-align: left;
  white-space: nowrap;
  transform: rotate(-0.2deg);
  z-index: 4;
}
.section {
  position: relative;
  width: 358px;
  height: 50px;
  margin: 8.8px 0 0 13px;
  z-index: 8;
}
.wrapper {
  position: absolute;
  width: 231px;
  height: 50px;
  top: 0;
  left: 127px;
  z-index: 8;
  overflow: hidden;
  border-radius: 1000px;
}
.img-5 {
  position: absolute;
  width: 42px;
  height: 38px;
  top: 6px;
  left: 177px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/add-to-cart-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 10;
  overflow: hidden;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 10px;
  left: 8px;
  color: #0e0909;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.text-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 3px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.img-6 {
  position: relative;
  width: 377.003px;
  height: 2.019px;
  margin: 18px 0 0 7px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/divider-line.svg)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.section-2 {
  position: relative;
  width: 355px;
  height: 197px;
  margin: 50.981px 0 0 23px;
  z-index: 18;
}
.group {
  position: absolute;
  width: 158px;
  height: 183px;
  top: 0;
  left: 194px;
  background: rgba(165, 237, 172, 0);
  z-index: 17;
}
.pic-2 {
  position: absolute;
  width: 156px;
  height: 196px;
  top: 1px;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-04-09/26jibqCTXp.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.pic-3 {
  position: absolute;
  width: 156px;
  height: 196px;
  top: 0;
  left: 0;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/product-image-overlay.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
}
.text-6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 135px;
  height: 164px;
  top: 17px;
  left: 220px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29.045px;
  text-align: left;
  text-overflow: initial;
  z-index: 18;
  overflow: hidden;
}
.wrapper-2 {
  position: relative;
  width: 202px;
  height: 27px;
  margin: 20px 0 0 99px;
  z-index: 20;
}
.text-7 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.text-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: 24.205px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.box-4 {
  position: relative;
  width: 358px;
  height: 50px;
  margin: 18px 0 0 13px;
  z-index: 21;
}
.wrapper-3 {
  position: absolute;
  width: 231px;
  height: 50px;
  top: 0;
  left: 127px;
  z-index: 11;
  overflow: hidden;
  border-radius: 1000px;
}
.img-7 {
  position: absolute;
  width: 42px;
  height: 38px;
  top: 6px;
  left: 177px;
  background: url(https://static.codia.ai/custom_image/2025-04-09/072304/buy-now-icon.svg)
    no-repeat center;
  background-size: cover;
  z-index: 13;
  overflow: hidden;
}
.text-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 10px;
  left: 8px;
  color: #191818;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.text-a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: 6px;
  left: 0;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scale-wrapper {
    transform-origin: top left;
  }
  
