:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    background: #b8d6a7;
    overflow: hidden;
  }
  .box {
    position: relative;
    width: 273px;
    height: 612px;
    margin: 61px 0 0 60px;
    z-index: 2;
    overflow: visible auto;
  }
  .pic {
    position: relative;
    width: 273px;
    height: 291px;
    margin: 0 0 0 0;
    background: url(https://static.codia.ai/custom_image/2025-04-09/080656/main-picture.svg)
      no-repeat center;
    background-size: 100% 100%;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 194px;
    height: 190px;
    margin: 41px 0 0 79px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 48px;
    font-weight: 600;
    line-height: 56.25px;
    text-align: left;
    z-index: 1;
  }
  .pic-2 {
    position: relative;
    width: 52px;
    height: 49px;
    margin: 41px 0 0 110px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/080656/icon-small.svg)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 2;
    overflow: hidden;
  }
  .pic-3 {
    position: relative;
    width: 48px;
    height: 48px;
    margin: 131px 0 0 333px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/080656/navigation-icon.svg)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 3;
    overflow: hidden;
  }
  