:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 393px;
    height: 852px;
    margin: 0 auto;
    background: #b8d6a7;
    overflow: hidden;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 251.286px;
    height: 126px;
    margin: 46px 0 0 59px;
    z-index: 21;
  }
  .text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 157px;
    height: 126px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 32px;
    font-weight: 400;
    line-height: 42.203px;
    text-align: left;
    z-index: 21;
  }
  .img {
    flex-shrink: 0;
    position: relative;
    width: 68.286px;
    height: 68.286px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/payment-logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
  }
  .box {
    position: relative;
    width: 325px;
    height: 64px;
    margin: 26px 0 0 33px;
    z-index: 2;
  }
  .img-2 {
    position: absolute;
    width: 91px;
    height: 64px;
    top: 0;
    left: 0;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/payment-method-visa.png)
      no-repeat center;
    background-size: cover;
  }
  .payment-method-paypal {
    position: absolute;
    width: 91px;
    height: 64px;
    top: 0;
    left: 112px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/paypal-logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 1;
  }
  .payment-method-amazonpay {
    position: absolute;
    width: 91px;
    height: 64px;
    top: 0;
    left: 234px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/amazonpay-logo.png)
      no-repeat center;
    background-size: cover;
    z-index: 2;
  }
  .rectangle {
    position: relative;
    width: 334px;
    height: 69px;
    margin: 45px 0 0 36px;
    background: #ffffff;
    z-index: 9;
    border-radius: 1000px;
  }
  .card-number {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 32px;
    top: 13px;
    left: 28px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 31.652px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .rectangle-1 {
    position: relative;
    width: 334px;
    height: 69px;
    margin: 34px 0 0 36px;
    background: #ffffff;
    z-index: 10;
    border-radius: 1000px;
  }
  .cardholder {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 32px;
    top: 17px;
    left: 26px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 31.652px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .wrapper-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 334px;
    height: 63px;
    margin: 39px 0 0 36px;
    z-index: 8;
  }
  .pic-3 {
    flex-shrink: 0;
    position: relative;
    width: 143px;
    height: 63px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/expiry-date-field.svg)
      no-repeat center;
    background-size: cover;
    z-index: 7;
    border-radius: 1000px;
  }
  .text-4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 47px;
    top: 13px;
    left: 26px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 31.652px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .img-3 {
    flex-shrink: 0;
    position: relative;
    width: 143px;
    height: 63px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/cvv-field.svg)
      no-repeat center;
    background-size: cover;
    z-index: 8;
    border-radius: 1000px;
  }
  .text-5 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 32px;
    top: 12px;
    left: 43px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 24px;
    font-weight: 300;
    line-height: 31.652px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .wrapper-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 355px;
    height: 31px;
    margin: 44px 0 0 33px;
    z-index: 14;
  }
  .section-2 {
    flex-shrink: 0;
    position: relative;
    width: 39px;
    height: 31px;
    background: #ffffff;
    z-index: 13;
  }
  .text-6 {
    flex-shrink: 0;
    position: relative;
    height: 27px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 26.377px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .box-2 {
    position: relative;
    width: 351px;
    height: 70px;
    margin: 18px 0 0 14px;
    background: #ffffff;
    z-index: 15;
    border-radius: 1000px;
  }
  .text-7 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 9px;
    left: 43px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 32px;
    font-weight: 200;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  }
  .pic-4 {
    position: absolute;
    width: 53px;
    height: 47px;
    top: 15px;
    left: 281px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/arrow-icon.svg)
      no-repeat center;
    background-size: cover;
    z-index: 17;
    overflow: hidden;
  }
  .section-3 {
    position: relative;
    width: 366px;
    height: 70px;
    margin: 9px 0 0 10px;
    background: #ffffff;
    z-index: 16;
    border-radius: 1000px;
  }
  .text-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 16px;
    left: 39px;
    color: #000000;
    font-family: Roboto Slab, var(--default-font-family);
    font-size: 32px;
    font-weight: 200;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .pic-5 {
    position: absolute;
    width: 53px;
    height: 47px;
    top: 16px;
    left: 301px;
    background: url(https://static.codia.ai/custom_image/2025-04-09/084324/submit-icon.svg)
      no-repeat center;
    background-size: cover;
    z-index: 18;
    overflow: hidden;
  }
  